{% extends 'generic/object.html' %}
{% load helpers %}
{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">Gateway</h2>
      <table class="table table-hover attr-table">
        <tr><th scope="row">Device</th><td>{{ object.device|linkify }}</td></tr>
        <tr><th scope="row">Name</th><td>{{ object.name }}</td></tr>
        <tr><th scope="row">Interface</th><td>{{ object.interface }}</td></tr>
        <tr><th scope="row">Address</th><td>{{ object.address|placeholder }}</td></tr>
        <tr><th scope="row">IP protocol</th><td>{{ object.get_ipprotocol_display }}</td></tr>
        <tr><th scope="row">Disabled</th><td>{% checkmark object.disabled %}</td></tr>
        <tr><th scope="row">Description</th><td>{{ object.description|placeholder }}</td></tr>
      </table>
    </div>
    <div class="card">
      <h2 class="card-header">Monitoring &amp; weighting</h2>
      <table class="table table-hover attr-table">
        <tr><th scope="row">Monitor IP</th><td>{{ object.monitor_ip|placeholder }}</td></tr>
        <tr><th scope="row">Weight</th><td>{{ object.weight }}</td></tr>
        <tr><th scope="row">Priority</th><td>{{ object.priority }}</td></tr>
        <tr><th scope="row">Far gateway</th><td>{% checkmark object.far_gateway %}</td></tr>
        <tr><th scope="row">Default gateway</th><td>{% checkmark object.default_gateway %}</td></tr>
      </table>
    </div>
  </div>
  <div class="col col-md-6">
    <div class="card">
      <h2 class="card-header">Group memberships</h2>
      <table class="table table-hover attr-table">
        {% for m in object.group_memberships.all %}
        <tr><td>{{ m.group|linkify }}</td><td>tier {{ m.tier }}</td></tr>
        {% empty %}
        <tr><td colspan="2" class="text-muted">Not in any group</td></tr>
        {% endfor %}
      </table>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% include 'inc/panels/custom_fields.html' %}
  </div>
</div>
{% endblock %}
